* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text--color: #d4d4db;
    --main--bg--color: #343541;
}

body {
    height: 100%;
    color: var(--text--color);
    background-color: var(--main--bg--color);
}

/* global classes */

.display-none {
    display: none;
}

.flex {
    display: flex;
}

/* main-style */

main {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main-container {
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 1rem;
    gap: 1rem;
    border: 2px solid white;
}

@media (max-width: 800px) {
    #user-input-container {
        display: flex;
        flex-direction: column;
    }
}