* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text--color: #d4d4db;
    --main--bg--color: #343541;
}

body {
    min-height: 90vh;
    color: var(--text--color);
    background-color: var(--main--bg--color);
}

.display-none {
    display: none;
}